body {
  margin: 8px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #212121;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#issMap {
  height: 480px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 2px;
}

h1 {
  color: #4fc3f7;
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 30px;
}

.flex-box{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  color: rgba(255, 255, 255, 0.85);
  padding-bottom: 12px;
  text-rendering: optimizeLegibility;
}

.flex-item{
  font-family: 'Roboto', sans-serif;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  margin: 8px;
  margin-bottom: 24px;
  padding: 8px 10px 8px 10px;
  border-radius: 2px;
  text-align: center;
}
